.jumbotron {
  height: 100%;
  padding: 5rem 10%;
  display: flex;
  flex-direction: column;

  .jumbo-title {
    padding: 2rem 0;
    font-size: 4.2rem;
    font-weight: bold;
  }

  .jumbo-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 30%;
    }

    .jumbo-info {
      margin-left: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .album-name {
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 2px;
      }

      span {
        font-size: 2.4rem;
      }

      a {
        text-decoration: none;
        color: $foreground;
        font-size: 2.4rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .release-outlets {
        width: 400px;
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;

        .iconify {
          font-size: 7rem;

          &.spotify-logo {
            color: #24cf5f;
          }

          &.apple-music-logo {
            color: #fff;
          }

          &.youtube-logo {
            color: #ff0000;
          }

          &.tidal-logo {
            color: #000;
          }
        }
      }

      a {
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
