.gigs-container {
  padding: 0 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .gig-title {
    font-size: 4.2rem;
    font-weight: bold;
  }

  .gigs {
    padding: 0 4rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .gig {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3,
      p {
        font-size: 2rem;
        letter-spacing: 2px;
      }

      .gig-details {
        margin-right: 10rem;
        display: flex;
        flex-direction: column;
        font-size: 3rem;
      }

      .gig-location {
        flex-grow: 1;

        p {
          font-style: italic;
        }
      }

      button {
        padding: 1rem 3rem;
        background: none;
        color: $foreground;
        font-size: 2rem;
        border: 2px $foreground solid;
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0, 0, 0.2, 1) 0s;

        &:hover,
        &:active,
        &:focus {
          background-color: $foreground;
          color: black;
        }
      }
    }
  }
}
