header {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 6rem;
    letter-spacing: 5px;
  }

  nav {
    margin-top: 20px;
    width: 50%;

    ul {
      margin: auto;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li a {
        font-family: 'Quattrocento', serif;
        font-size: 2.4rem;
        letter-spacing: 1px;
        color: $foreground;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
